@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Inter", serif;
}

h2 {
  color: #3d3c99;
  font-family: "montserrat", serif;
  font-weight: 600;
  font-size: 2.25rem;
}

/* Gradient grid background */
.grid-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #12062a;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 240, 240, 0.1) 1px, transparent 1px);
  background-size: 100px 100px;
  z-index: -10;
}

.fade-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, #12062a71 50%, #12062a 100%);
  z-index: -4;
}

.curved-border {
  border-top-left-radius: 9999px; /* Fully round the top-left corner */
  border-bottom-left-radius: 9999px; /* Fully round the bottom-left corner */
  padding: 16px; /* Add some padding for the content */
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  /* background: radial-gradient(circle, red 5%, yellow 100%); */
}

.cta-gradient {
  background: linear-gradient(
    to right,
    #ffffff -20%,
    #a5a7ff80,
    #6467ef80,
    transparent
  );
}
